@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinner in Webkit-based browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
